
.header{
    margin-top: 24px;
}
.headerTxt{
    color: #000;
    font-weight: 600;
    
    font-size: 16px;
    // margin-top: 24px;
    // margin-bottom: 10px;
}

.priceDetailsWrapper{
    background: #FFFFFF;
    border: 1px solid #E6E7E7;
    border-radius: 16px;
    padding-top: 10px;
    padding-bottom: 24px;
    padding-right: 16px;
    padding-left: 16px;
    margin-top: 10px;
    .rowItemContainer{
        display: flex;
        justify-content: space-between;
        margin-top: 16px;
        .rowItemLeftText{
            display: flex;
            font-weight: 400;
            font-size: 14px;
        }
        .extraPayment{
            width:187px !important;
        }

        .rowItemRightText{
            font-weight: 400;
            font-size: 14px;
        }
        .extradiscountAmount{
            color: #247A81;
        }
        .codChargeAmount{
            color: #CE4224;

        }
        .discount{
            text-align: right;
            color: #247A81;
        }
        .couponCode{

        }
        .freeDeliveryTxt {
            span {
            color: #247A81;
            font-size: 14px;
            font-style: normal;
            font-weight: 500
            }
        
            .price {
            color: #000;
            }
        }
        .totalAmountTxt{
            font-weight: 600;
            font-size: 14px;
        }
        .totalAmountPrice{
            font-weight: 400;
            font-size: 14px;
        }
        .paymentTypeTxt{
            font-weight: 600;
            font-size: 14px;
        }
        .paymentType{
            font-weight: 400;
            font-size: 14px;  
        }
    }
}

.amountSavedInfo{
    background: #F1FAF8;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    color: #247A81;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 16px;
}

.custumDutyInfoPopup{
    background-color: rgba(0, 0, 0, .3);
    bottom: 0;
    color: #32445b;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 99999;

.custumDutyInfoPopupContainer{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 200px;
    position: relative;
    .custumDutyInfoPopupSection{
        width: 437px;
        border-radius: 8px;
background: #FFF;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 24px 24px 0px 24px;
    }
    .title{
        color: #07141A;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
    }
    .subTxt{
        margin-top: 18px;
        color: #000;
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: normal;
text-transform: capitalize;
    }
    .footer{
        cursor: pointer;
        margin-top: 56px;
        color: #247A81;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding: 15px 197px;
background-color: #F4FCF3;;
    }
}
   
}


@media (max-width:990px){
    .priceDetailsWrapper{
      
        .rowItemContainer{
            .rowItemLeftText{
                font-size: 12px;
            }
            .rowItemRightText{
                font-size: 12px;
            }

        }
    }
}
   
@media(max-width:350px){
    .priceDetailsWrapper{
        .rowItemContainer{
            .extraPayment{
                width: 150px !important;    
            }
        }
    }
}

@media(max-width:770px){
    .custumDutyInfoPopup{
        .custumDutyInfoPopupContainer{
           .custumDutyInfoPopupSection{
            width: 320px;
            .footer{
                padding: 15px 139px;
            }
           } 
        }
    }
}
