.extraDiscountSection {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #F1FAF8;
    padding-bottom: 8px;
    padding-top: 8px;
    gap:17px;
    .dicountInfo {
        color: #247A81;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal
    }

    .prePaidOptions {
        // display: flex;
        // flex-direction: column;
        .imageSection{
            display: flex;
            justify-content: center;
            .imageDiv {
                display: flex;
                justify-content: center;
                // align-items: center;
                width: 30px;
                height: 13px;
                object-fit: contain;
    
                img {}
            }
        }
        

        .txt {
            color: #07141A;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}