.pageHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    width: 100%;
    z-index: 99999;
    top: 0px;
   
    .headerBackgroundImg{
        display: none;
    }
    .mobHeaderBackgroundImg{
        width: 100%;
    }

     .headerContent{
        position: absolute;
        width: 90%;
        margin: 0 auto;
        justify-content: space-between;
        display: flex;
        left: 0;
        right: 0;
        align-items: center;
        .headerTxt{
            font-weight: 500;
            font-size: 24px;
            flex: 1;
            padding-left: 13px;
        }
        .backArrow{
            height: 24px;
            width: 24px;
            cursor: pointer;
        }
        .backArrow-ar{
            transform: rotate(180deg)
        }
        .kuwaLogo{
            width: 68px;
            height: 32px;
            cursor: pointer;
        }
        .crossIcon{
            width: 32px;
            height: 32px;
            cursor: pointer;
        }
    }

}

@media(min-width:990px){
    .pageHeader{
        .mobHeaderBackgroundImg{
            display: none;
        }
        .headerBackgroundImg{
            width: 100%;
            display: block;
        }
        .headerContent{
            position: absolute;
            width: 100%;
            max-width: 1070px;
            margin: 0 auto;
            justify-content: space-between;
            display: flex;
            left: 0;
            right: 0;
            align-items: center;
            .headerTxt{
                font-weight: 500;
                font-size: 24px;
                text-align: center;
            }
            .backArrow{
                height: 32px;
                width: 32px;
                cursor: pointer;
            }
            .kuwaLogo{
                width: 98px;
                height: 46px;
            }
        }
    }
}