.headerWrapper{
    background-color: #247A81;

.headerWrap{
    width: 100%;
    max-width: 1070px;
    margin: 0 auto;
    position: relative;
}
.backArrow{
    height: 24px;
    width: 24px;
    position: absolute;
    left: 16px;
    top: 32px;
    cursor: pointer;
    z-index: 9999999;
}
.headerContainer{
    background-image: url('https://production-website-builds.s3.ap-south-1.amazonaws.com/assets/loginHeader.png');
    height: 132px;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 420px;
    margin: 0 auto;

    


    .kuwaLogo{
        display: flex;
        flex-direction: column;
        img{
            height: 32px;
            width: 68px;
            margin: 0 auto;
        }
        .txt{
            font-weight: 600;
            font-size: 24px;
            color: #FFFFFF;
            text-align: center;
        }
    }
    .personalProfile{
        height: 80px;
        width: 80px;
        position: absolute;
        bottom: -43px;
    }

    
}

}
@media (min-width:550px){
    // .headerWrapper{
    //     max-width: 400px;
    //     margin: 0 auto;
    // }
}

@media (min-width:550px){
    // .headerWrapper{
    //     max-width: 400px;
    //     margin: 0 auto;
    // }
}

@media (max-width:990px){
    .headerWrapper{
        z-index: -1;
        background-color: #247A81;
        // position: relative;
    }
}