.FrequentlyAskQuestions {
    font-weight: 500;
    font-size: 24px;
    max-width: 625px !important;
    margin: auto;
    text-align: center;
}

@media (max-width: 960px) {
    .FrequentlyAskQuestions {
        font-size: 16px;
        text-align: start;
        padding-left: 16px;
        padding-right: 16px;
    }
}