.addressListWrapper{
    padding: 16px;
}

.addNewAddressTxt{
    color: #247A81;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
}

@media(min-width:990px){
    .addressInfoContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        flex-wrap: wrap;
        max-width: 750px;
        margin: 0 auto;
    }
}
