.container {
    // background-image: linear-gradient(180deg, #F9E8E4 0%, rgba(249, 232, 228, 0) 100%);
    // padding-top: 10px;
  }

  .sliderContainer{
    // margin-top: 24px;
    display: flex;
    flex-direction: row;
    padding-left: 16px;

  }
  @media(min-width:990px){
    .container{
      padding-right: 227px;
       padding-left: 227px;
    }
}