.paymentFooterbtn{
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 16px;
    padding-left: 16px;
    background-color: #FFFFFF;
    left: 0;
    box-shadow: 0px -6px 7px rgba(173, 173, 173, 0.16);
    .paymentFooterBtnContainer{
        display: flex;
        justify-content: space-between;
        gap: 10px;
        .txt{
            font-weight: 400;
            font-size: 14px;
            color: #9AA1AB;
        }
        .price{
            font-weight: 600;
            font-size: 18px;
            color: #000000;
        }

        .subTxt{
            font-weight: 600;
            font-size: 12px;
            color: #247A81;
            margin-top: 5px;
            cursor: pointer;
        }
        .btn{
            background: grey;
            border-radius: 24px;
            color: #FFFFFF;
            text-align: center;
            align-items: center;
            display: flex;
            text-align: center;
            justify-content: center;
            flex: 0.5;
            font-size: 14px;
            cursor: not-allowed;
            opacity: 0.5;
            height: 48px;
        }
        .btn_active{
            background: #247A81;
            opacity: 1;
            cursor: pointer;
        }
        .paymentInfo{
            display: flex;
            flex-direction: column;
            flex: 0.5;
        }
    }
    
}

@media(max-width:990px){
    .paymentFooterbtn{
        .paymentFooterBtnContainer{
            flex-direction: column;
            .btn{
                padding-left: 12px;
                padding-right: 12px;
                flex: auto;
            }
            .paymentInfo{
                flex-direction: row;
                justify-content: space-between;
            }
            .paymentBtn{
                display: flex;
                gap: 10px;
                .applePayBtn{
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    background: black;
                    color: #FFFF;
                    border-radius: 24px;
                    width: 48%;
                    height: 48px;
                    justify-content: center;
                    cursor: pointer;
                    .appleLogo{
                        width: 40px;
                        height: 18px;
                    }
                    .prepaidDiscount{
                        width: 78px;
                        height: 12px;
                        border-radius: 3px;
                        background: #CE4224;
                        color: #FFF;
                        font-size: 10px;
                        font-weight: 600;
                        padding-left: 5px;
                        position: absolute;
                        bottom: 10px;
                       margin: auto;
                    }
                }
                
            }
        }
    }
}

@media(min-width:990px){
    .paymentFooterbtn{
        .paymentFooterBtnContainer{
            margin: 0 auto;
            align-items: center;
            justify-content: center;
            gap: 20px;
            .paymentInfo{
                // width: 40%;
                flex: inherit;
            }
            .txt{
                font-weight: 400;
                font-size: 16px;
                color: #9AA1AB;
            }
            .price{
                font-weight: 600;
                font-size: 24px;
                color: #000000;
            }
    
            .subTxt{
                font-weight: 600;
                font-size: 14px;
                color: #247A81;
                display: none;
            }
            .btn{
                padding-top: 12px;
                padding-bottom: 12px;
                padding-left: 72px;
                padding-right: 72px;
                flex: inherit;
                font-size: 18px;
                cursor: pointer;
            }
            .paymentBtn{
                display: flex;
                gap: 10px;
                .applePayBtn{
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    background: black;
                    color: #FFFF;
                    border-radius: 24px;
                    width: 176px;
                    height: 48px;
                    justify-content: center;
                    cursor: pointer;
                    .appleLogo{
                        width: 40px;
                        height: 18px;
                    }
                    .prepaidDiscount{
                        width: 78px;
                        height: 12px;
                        border-radius: 3px;
                        background: #CE4224;
                        color: #FFF;
                        font-size: 10px;
                        font-weight: 600;
                        padding-left: 5px;
                        position: absolute;
                        bottom: 10px;
                        z-index: 111;
                       margin: auto;
                    }
                   
                }
               
            }
          
          
        }
    }
}