

@media (max-width:990px){
    .orderSummary{
        width: 90%;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 150px;
        .couponCode{
            // margin-top: 35px;
        }
        .deliveryDate{
            margin-top: 8px;
            text-align: center;
            color: #07141A;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
    
            span {
                color: #247A81;
                font-weight: 700;
            }
        }
        .paymentMethod{
            margin-top: 30px;
        }
        .priceDetails{
            margin-top: 35px;
            .headerTxt{
                margin-bottom: 20px;
            }
        }
        .productDetailsTitle{
            color: #07141A;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-top: 24px;
        }
    }

    .orderSummaryDesktop{
        display: none;
    }
}


@media (min-width:990px){
    .orderSummary{
        display: none;
    }
    .orderSummaryDesktop{
        display: flex;
        gap: 30px;
        justify-content: center;
        margin-top: 60px;
        padding-bottom: 150px;
        .paymentLeftContainer{
            display: flex;
            flex-direction: column;
            max-width: 346px;
            width: 100%;
            .deliveryDate{
                margin-top: 8px;
                text-align: center;
                color: #07141A;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
        
                span {
                    color: #247A81;
                    font-weight: 700;
                }
            }
        }
        .headerTxt{
            padding-bottom: 18px;
        }
        .paymentMethod{
            width: 100%;
            max-width: 398px;
        }
        .priceDetails{
            margin-top:12px;
        }
        .productDetailsTitle{
            color: #07141A;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-top: 24px;
        }
    }
}