.qatarAddressContainer{
    max-width: 350px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    margin:0 auto;
    padding-bottom: 150px;
    .addressInfoForm{
        margin-top: 24px;
        width: 100%;
        .headerTxt{
            font-weight: 500;
            font-size: 16px;
        }
        .userNameContainer{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 15px;
            .nameField{
                width: 99%;
            }
        }
        .areaInputText{
            margin-top: 20px;
            .inputContainer{
                position: relative;
                input{
                    height: 80px;
                    width: 100%;
                    border: 1px solid #E6E7E7;
                    border-radius: 8px;
                    padding-left: 16px;
                    &.input-ar {
                        padding-left: 0;
                        padding-right: 16px;
                    }
                }
                input:focus{
                    outline: none;
                    border-color: #247A81;
                }
                input:focus + .placeholderText .text, :not(input[value=""]) + .placeholderText .text{
                    background-color:white;
                    font-size: 12px;
                    color: #A0A0A0;
                    transform: translate(0, -195%);
                    margin-left: 12px;
                }
                .placeholderText{
                    position: absolute;
                    top: -30px;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    border: 3px solid transparent;
                    background-color: transparent;
                    pointer-events: none;
                    display: flex;
                    align-items: center;
                    color: #A0A0A0;
                }
                .text{
                    font-weight: 500;
                    font-size: 14px;
                    padding-left: 16px;
                    background-color: transparent;
                    transform: translate(0);
                    color: #A0A0A0;
                    transition: transform 0.15s ease-out, font-size 0.15s ease-out, background-color 0.2s ease-out, color 0.15s ease-out;
                    &.text-ar{
                        padding-left: 0px;
                        padding-right: 16px;
                    }
                }
                input, .placeholderText{
                    font-weight: 500;
                    font-size: 14px;
                }
            }
        }
        .countryContainer{
            display: flex;
            flex-direction: column;
    
            // flex-direction: row;
            // justify-content: space-between;
            // gap: 15px;
            .addressDiv{
                display: flex;
                flex-direction: row;
                justify-content: space-between; 
                gap: 15px;
            }
            .countryInfoField{
                width: 100%;
            }
        }
    }
    .selectBillingAddressBtn{
        display: flex;
        align-items: center;
        gap: 0px;
        margin-top: 21px;
        margin-bottom: 27px;
        .txt{
            font-weight: 500;
            font-size: 12px;
        }
    }
    .errorMsg{
        color: red;
        font-size: 10px;
    }
    .emailHeaderTxt{
        font-weight: 500;
        font-size: 16px;
    }
}