.findMyOrderWrapper{
    margin-top: 20px;

    .orderStatusTxt{
        font-weight: 500;
        font-size: 14px;
        text-align: center;
    }

    .subTxt{
        font-weight: 400;
        font-size: 12px;
        text-align: center;
        margin-top: 10px;
        color: #A0A0A0;
        span{
            font-weight: 500;
        }

    }

    .orderIdSearchContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        justify-content: center;
        margin-top: 16px;
        .orderIdInputContainer{
            position: relative;
            .orderIdInput{
                border: 1px solid #E6E7E7;
                border-radius: 24px;
                height: 43px;
                width: 136px;
                padding-left: 16px;
                padding-right: 18px;
            }
            .crossIcon{
                width: 18px;
                height: 18px;
                position: absolute;
                right: 8px;
                top: 12px;
                cursor: pointer;
            }
        }
    

        .findMyorderBtn{
            background: #07141A;
            border-radius: 24px;
            color: #FFFFFF;
            padding-top: 12px;
            padding-bottom: 12px;
            padding-right: 16px;
            padding-left: 16px;
            cursor: pointer;
            font-size: 12px;
            text-align: center;
        
        }
    }
}

@media(min-width:990px){
    .orderIdSearchContainer{
        .orderIdInputContainer{
            position: relative;
            .orderIdInput{
                width: 180px !important;
            }

        }
        .findMyorderBtn{
            width: 131px;
        }

    }
}