.paymentSuceesContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    img{
        width: 70px;
        height: 70px;
        margin: 0 auto;
    }
    .txt{
        font-weight: 600;
        font-size: 18px;
        margin-top: 8px;
    }
    .subTxt{
        font-weight: 400;
        font-size: 14px;
        color: #A0A0A0;
        margin-top: 5px;
    }
    .btn{
        background: #247A81;
        border-radius: 24px;
        padding-top: 12px;
        padding-bottom: 12px;
        color: #FFF;
        margin-top: 24px;
        cursor: pointer;
    }
}

@media (min-width:990px){
    .paymentSuceesContainer{
        width: 50%;
        max-width: 343px;
        img{
            width: 128px;
            height: 128px;
            margin: 0 auto;
        }
        .subTxt{
            margin: 0 auto;
            margin-top: 5px;
        }
    }
}