.article-main{
    width: 100%;
    .article-cont{
        width: 438px;
        margin: auto auto;
    }
}


@media screen and (max-width:769px) {
    .article-main{
        width: 100%;
        .article-cont{
            max-width:292px;
            margin: auto auto;
        }
    }
}