

   .container {
    //  background-image: linear-gradient(180deg, #F9E8E4 0%, rgba(249, 232, 228, 0) 100%);
     padding-top: 16px;
     padding-bottom: 40px;
     margin-top: 10px;
     padding-left: 16px;
   }
 
   .sliderContainer{
     margin-top: 16px;
     display: flex;
     flex-direction: row;

   }

   .headerTxt{
      font-weight: 500;
      font-size: 20px;
   }

   .sliderDecoration{
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .sliderLine1{
    height: 9px;
    // background: #F2E9E7;
    width: 60%;
  }

  .sliderLine2{
    height: 9px;
    // background:#F2E9E7;
    width: 80px;
  }
  

   @media(min-width:990px){
    .container{
      // padding-right: 227px;
       padding-left: 34px;
    }
    .headerTxt{
      font-weight: 700;
      font-size: 32px;
   }

   }

   