
.couponCodeWrapper{
    .headerTxt{
        font-weight: 500;
        font-size: 14px;
    }
    .couponCodeContainer{
        display: flex;
        gap: 15px;
        margin-top: 15px;
        .inputWrapper{
            .inputContainer{
                position: relative;
                input{
                    height: 36px;
                    width: 100%;
                    border: 1px solid #E6E7E7;
                    border-radius: 8px;
                    padding-left: 16px;
                }
                input:focus{
                    outline: none;
                    border-color: #247A81;
                }
                input:focus + .placeholderText .text, :not(input[value=""]) + .placeholderText .text{
                    background-color:white;
                    font-size: 12px;
                    color: #A0A0A0;
                    transform: translate(0, -130%);
                    margin-left: 12px;
                }
                .placeholderText{
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    border: 3px solid transparent;
                    background-color: transparent;
                    pointer-events: none;
                    display: flex;
                    align-items: center;
                    color: #A0A0A0;
                }
                .text{
                    font-weight: 500;
                    font-size: 12px;
                    padding-left: 16px;
                    background-color: transparent;
                    transform: translate(0);
                    color: #A0A0A0;
                    transition: transform 0.15s ease-out, font-size 0.15s ease-out, background-color 0.2s ease-out, color 0.15s ease-out;
                }
                input, .placeholderText{
                    font-weight: 500;
                    font-size: 14px;
                }
            }
            .errorMsg{
                font-size: 10px;
                color: #e6787a;
            }
        }

        .removeIcon{
            height: 20px;
            width: 20px;
            position: absolute;
            right: 10px;
            top: 8px;
        }

        .applyBtn{
            width: 28%;
            text-align: center;
            align-items: center;
            display: flex;
            justify-content: center;
            background: #000000;
            border-radius: 24px;
            color: white;
            font-weight: 500;
            font-size: 12px;
        }
        
    } 
    .couponMsg{
        font-weight: 500;
        font-size: 12px; 
        color: #247A81;   
        margin-top: 8px;    
    }
}

@media(min-width:990px){
    .couponCodeContainer{
        .inputWrapper{
            // width: 68% !important;
        }
    }
}

