.bestSellingContainer{
    background-color: #F1FAF8;
    padding-left: 32px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    margin-top: 25px;
    // text-align: center;
    .heading{
      // text-align: center;
      color: #07141A;
      font-size: 32px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px;
      padding-top: 24px;
      padding-bottom: 16px;
      .firstWord{
        
          font-weight: 700;
      }
    }
    .collectionScrollContainer{
     margin: auto auto;
    //  width: 520px;
     overflow-x: scroll;
    //  margin-top: 24px;
     margin-bottom: -30px;
    //  .collectionSection{
     
     .collectionList {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 44px !important;
        display: -webkit-box;
        // overflow-x: scroll;
        width: max-content;
        // margin-top: 24px;
        margin-bottom: 24px;

        position: relative;
       
    
        .collectionName {
         font-size: 16px;
          position: relative;
          padding-bottom: 8px;
          // padding-left: 20px;
          // padding-right: 20px;
            cursor: pointer;
            &:after {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 2px;
              // background-color: #E0F0EE; 
              transition: border-width 0.3s ease; 
            }
        }
    
        .selected:after {
          height: 4px; 
          background-color: #247A81; 
          
          z-index: 100;
        }
        .border{
          width: 100%;
          border:#E0F0EE 3px solid;
          position: relative;
          top: 23px;
          position: absolute;
        }
       
      }
     
    // }
    }
    
   
}

@media(max-width:770px){
  .bestSellingContainer{
    margin-top: 20px;
    .heading{
      font-size: 18px;
    }

    .collectionScrollContainer{
      width:320px;
      // padding-left: 16px;
      .collectionList{
        gap:30px !important;
        .collectionName{
          font-size: 12px;
        }
        .selected:after{
          height: 2px; 
        }
        .border{
          width: 100%;
          border:#E0F0EE 2px solid;
          position: relative;
          top: 20px;
          position: absolute;
        }
      }
    }
  }
}
