.bestSellingContainer{
    background-color: #F1FAF8;;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    margin-top: 80px;
    // text-align: center;
    .heading{
      text-align: center;
      color: #07141A;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px;
      padding-top: 16px;
      padding-bottom: 14px;
      .firstWord{
        
          font-weight: 700;
      }
    }
    .collectionScrollContainer{
     margin: auto auto;
     width: 430px;
     overflow-x: scroll;
    //  margin-top: 24px;
     margin-bottom: -30px;
     .collectionList {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px !important;
        display: -webkit-box;
        overflow-x: scroll;
        width: max-content;
        // margin-top: 24px;
        margin-bottom: 24px;
    
        .collectionName {
          position: relative;
          padding-bottom: 8px;
            cursor: pointer;
          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #E0F0EE;; /* border color */
            transition: border-width 0.3s ease; /* transition effect to highlight the selected collection */
          }
        }
    
        .selected:after {
          height: 4px; /* increased border width for the selected collection */
          background-color: #247A81;; /* highlight color for the selected collection */
        }
      }
    }
    
   
}

@media(max-width:770px){
  .bestSellingContainer{
    .heading{
      font-size: 18px;
    }
  }
}
