.MainContainer{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 16px;
}

.StepContainer{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.StepWrapper{
    position: relative;
  z-index: 1;
  
}
.StepStyle{
 width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #E6E7E7;
  transition: 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  :after {
    content: "";
    position: absolute;
    background: #E6E7E7;
    height: 3px;
    width: 195px;
    top: 50%;
    transition: 0.4s ease;
    transform: translateY(-50%);
    left: 52px;
  }
}
.StepStyle3{
    ::after{
        display: none !important;
    }
}
.StepStyleActive{
    background-color: #247A81;
    
}
.StepStyleActiveTracker{
    ::after{
        background-color: #247A81;
    }
}

.StepCount{
    font-size: 19px;
    color: #f3e7f3;
    @media (max-width: 600px) {
      font-size: 16px;
    }
    .stepIcon{
        height: 24px;
        width: 24px;
    }
}


.StepsLabelContainer{
    position: absolute;
    top: 66px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.StepLabel{
    font-size: 19px;
  color: #4a154b;
  width: max-content;
  text-align: center;
  @media (max-width: 600px) {
    font-size: 16px;
  }
}



@media(max-width:768px){
    .MainContainer{
        max-width: 290px;
    }
    .StepStyle{
        width: 28px;
        height: 28px;
        ::after{
            content: "";
            position: absolute;
            background: #E6E7E7;
            height: 3px;
            width: 70px;
            top: 50%;
            transition: 0.4s ease;
            transform: translateY(-50%);
            left: 37px;
        }
    }
    .StepLabel{
        font-size: 12px;
    }
    .StepCount{
        .stepIcon{
            height: 18px;
            width: 18px;
        }
    }
    .StepsLabelContainer{
        top: 41px;
    }
}