.reviewsContainerOuter {
    width: 100%;
    margin: auto;
    max-width: 1100px;
    // margin-top: 56px;
    margin-bottom: 32px;

    .review {
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
        color: #07141A;
        margin-bottom: 20px;
        text-align: center;
    }

    .reviewsContainer {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;

        .cards {
            flex-wrap: wrap;
        }
    }

    .seeMore {
        font-weight: 600;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 127px;
        height: 32px;
        background: #FFFFFF;
        border: 2px solid #247A81;
        border-radius: 16px;
        color: #247A81;
        margin: auto;
        margin-top: 32px;
        margin-bottom: 32px;
        cursor: pointer;
    }
}

// @media(max-width:960px) {
//     .reviewsContainerOuter {
//         padding-left: 16px;
//         padding-right: 16px;
//         .review {
//             font-size: 16px;
//             text-align: start;
//             margin-bottom: 10px;
//         }
//         .reviewsContainer {
//             justify-content: center;
//         }
//     }
// }
// @media(max-width:737px){
//    .reviewsContainerOuter{
//     .review{
//        width:343px;
//        margin: auto auto;

//     }
//    } 
// }


@media(max-width:770px){
    .reviewsContainerOuter{
        padding-left: 16px;
        padding-right: 16px;
        .review{
            text-align: start;
        }
    }
}