.reviewsSection{
    display: flex;
    justify-content: center;
    // align-items: center;
    margin: 50px 146px;
    gap: 70px;
    .ratingSection{

    }
    .reviewsContainerOuter{
        .reviewsContainer{
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;
             gap:24px;
        }
        .seeMore{
            margin-top: 10px;
            display: flex;
padding: 16px 16px;
justify-content: center;
align-items: center;
gap: 4px;
border-radius: 24px;
border: 1px solid #247A81;

background: #FFF;
cursor: pointer;
        }
    }
}

@media(max-width:1100px)and (min-width:990px){
    .reviewsSection{
        gap: 30px;
        .ratingSection{
            
        }
        .reviewsContainerOuter{
            .reviewsContainer{
                
            }
           
        }
    }
}

@media(max-width:990px){
    .reviewsSection{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        margin: 10px 16px;
        .ratingSection{
            width: 100%;
        }
        .reviewsContainerOuter{
            width: 100%;
            .reviewsContainer{
                width: 100%;
                .cards{
                    width: 100%;
                }
            }
           
        }
    }
}