.imageSectionContainer {
    width: 60%;
    margin: auto;
    margin-top : 32px;
    .isDesktop{
        display: block !important;
    }
    .isMobile{
        display: none !important;
    }
    .tagContainer{
        position: relative;
        .tagSection{
            max-width: 150px;
                 
                 height: 18px;
                
               
                 color: #FFF;
                 font-size: 14px;
                 font-style: normal;
                 font-weight: 500;
                 line-height: normal;
                 position: absolute;
                 top:33px;
                 left:0px;
                 z-index: 2;
            .tagDiv{
                padding: 4px 6px;
                display: flex;
                justify-content: center;
                gap:2px;
                align-items: center;
                background-color: #2E7CF6;
                border-radius: 6px;
                img{
                    width: 14px;
                    height: 14px;
                }
                .tagTxt{
    
                }
    
            }
        }
    }

    .bestSelleSection{
        position: relative;
       
                 
        height: 18px;
       
      
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
       
        .bestSelleTag{
            max-width: 150px;
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 2;
            padding: 4px 10px;
            display: flex;
            justify-content: center;
            gap:2px;
            align-items: center;
            border-radius: 4px;
            background: #F79E1B;
        }
      }
   
    .imageSectionOuter {
        display: flex;
        gap: 16px;

        .previous {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                border-radius: 50%;
                box-shadow: 0px 6px 7px rgba(173, 173, 173, 0.16);
            }
        }

        .imageSection {
            width: 100%;
            img {
                width: 100%;
                max-width: 342px;
            }
        }

        .next {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                border-radius: 50%;
                box-shadow: 0px 6px 7px rgba(173, 173, 173, 0.16);
            }
        }
    }
    .drop {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        margin-top: 32px;

        .dot {
            width: 4px;
            height: 4px;
            background: #D6D6D6;
            border-radius: 50%;
        }

        .biggerDot {
            width: 24px;
            height: 4px;
            background: #D6D6D6;
            border-radius: 20px;
        }
    }
}

@media(max-width:960px) {
    .imageSectionContainer {
        width: 100%;
        margin: auto;
        .bestSelleSection{
            font-size: 12px;
            .bestSelleTag{
            }
          }
        .imageSection{
        .tagSection{
            max-width: 100px;
            height: 16px;
            font-size: 8px;
            position: absolute;
            top:10px;
            color: #FFF;
            .tagDiv{
                padding: 4px 6px;
                display: flex;
                justify-content: center;
                gap:2px;
                align-items: center;
                background-color: #2E7CF6;
                border-radius: 6px;
            img{
                width: 12px;
                height: 12px;
            }
            .tagTxt{

            }
        }
      }
     
        .outOfStockTxtMob{
            position: relative;
            top: 50%;
            left: 50%;
            width: 204px;
height: 40px;
border-radius: 8px;
background: #FFF;
color: #CE4224;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-align: center;
padding: 10px 53px;
transform: translate(-50%, -50%);
&.outOfStockTxtMob-ar{
    left: 20%;
}
        }
    }
        .isDesktop{
            display: none !important;
        }
        .isMobile{
            display: block !important;
        }
    }

}