.pricingSectionContainer {
    width: 40%;
    margin: auto;

    #tamara-widget-main {
        margin: 24px 0px;
    }

    // background-color: red;

    .normalInventory {
        height: 15px;
        color: #ce4224;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .title {
        font-weight: 500;
        font-size: 24px;
        color: #07141A;
    }
    .shortDescription{
        color: #247A81;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .reviewContainer {
        margin-top: 17px;

        .imageReview {}

        .numberOfReview {
            font-weight: 400;
            font-size: 12px;
            color: #858585;
        }
    }

    .ratingSection {
        display: flex;
        // justify-content: center;
        align-items: center;
        margin-top: 16px;
        gap: 8px;

        .avgRatingValue {
            padding-bottom: 5px;
        }

        .avgRating {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 6px;

            .reviewStar {
                img {
                    width: 16px;
                    height: 16px;
                }
            }
        }

        .totalNumberRating {
            color: #2E7CF6;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            margin-bottom: 3px;
            // border-bottom: 1px solid #2E7CF6 ;
        }
    }

    .pricingConatiner {
        margin-top: 9px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .price {
            display: flex;
            justify-content: center;
            align-items: baseline;
            gap: 8px;
            .finalPrice{
                font-weight: 500;
                font-size: 18px;
            }
           .retailPrice{
            color: #999;
            font-size: 14px;
            font-weight: 500;
            text-decoration: line-through;
           }
        }

        .incriment {}
    }
    .discount{
        border-radius: 4px;
        background: #CE4224;
        display: inline-flex;
padding: 2px 8px;
justify-content: center;
align-items: center;
gap: 8px;
color: #FFF;
font-size: 16px;
font-weight: 600;
    }

    .packOf {
        font-weight: 400;
        font-size: 14px;
        margin-bottom: 6px;
        margin-top: 26px;
    }

    .variantRecommendedTxt {
        width: fit-content;
        margin-top: 10px;
        background-color: #FBEEEB;
        color: #ce4224;
        padding: 4px 10px;
        border-radius: 8px;
    }

    .deliveryDate {
        margin-top: 16px;
        text-align: center;
        color: #07141A;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        span {
            font-weight: 700;
        }
    }

    .freeShippingSection {
        border-radius: 8px;
        background: #EEF5F5;
        margin-top: 14px;

        .freeShippingDiv {
            display: flex;
            justify-content: center;
            align-items: center;

            .truckImg {
                padding-top: 4px;

                img {
                    width: 28px;
                    height: 28px;
                }

            }

            .text {
                color: #07141A;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-left: 12px;

                span {
                    color: #247A81;
                    font-weight: 600;
                }
            }
        }
    }

    .addToCartContainer {
        display: flex;
        gap: 8px;
        width: 100%;
        margin-top: 24px;

        .notifyBtn {
            background: #FFF;
            border-radius: 24px;
            border: 2px solid #247A81;
            font-weight: 500;
            font-size: 14px;
            width: 100%;
            padding: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            color: #247A81;
        }

        .addToCart {
            background: #247A81;
            border-radius: 24px;
            font-weight: 500;
            font-size: 14px;
            width: 50%;
            padding: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            color: #FFFFFF;

        }


        .buyNow {
            background: #FFFFFF;
            border: 2px solid #247A81;
            border-radius: 24px;
            font-weight: 500;
            font-size: 14px;
            width: 50%;
            padding: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

        }
    }

    .prepaidDiscount {
        width: 78px;
        height: 12px;
        border-radius: 3px;
        background: #CE4224;
        color: #FFF;
        font-size: 10px;
        font-weight: 600;
        padding-left: 5px;
        position: relative;
        bottom: 10px;
        margin: auto;

    }

    .shareConatiner {
        display: flex;
        gap: 18px;
        align-items: center;
        margin-top: 24px;

        .Share {
            font-weight: 400;
            font-size: 14px;
        }

        .shareLogo {
            display: flex;
            gap: 16px;

            img {
                cursor: pointer;
                width: 24px;
                height: 24px;
            }
        }
    }

    .tabbyDetailMain {
        margin-top: 24px;
        margin-bottom: 12px;
    }
    .benefitsLogoSection{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;
        margin-top: 20px;
        .logoDiv{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4px;
            img{
                width: 40px;
                height: 40px;
            }
            .logoTxt{
                color: #98A1AC;
                text-align: center;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }
}

@media(max-width:960px) {
    .pricingSectionContainer {
        width: 100%;

        .title {
            font-size: 16px;
        }
        .shortDescription{
            font-size: 14px;
        }

        .reviewContainer {
            margin-top: 17px;
        }
        .ratingSection{
            margin-top: 8px;
        }
        .pricingConatiner{
            .price{
              .finalPrice{
                font-size: 16px;
              } 
              .retailPrice{
                font-size: 12px;
            } 
            }
        }
        .discount{
            font-size: 12px;
        }
        .variantRecommendedTxt{
            font-size: 12px;
            padding: 5px 10px;
            border-radius: 4px;
        }
        .deliveryDate{
            font-size: 12px;
        }

        .freeShippingSection {
            .freeShippingDiv {
                .truckImg {
                    img {
                        width: 24px;
                        height: 24px;
                    }

                }

                .text {
                    font-size: 12px;
                    margin-left: 8px;
                }
            }

            .addToCartContainer {

                .addToCart {
                    font-size: 14px;
                }

                .buyNow {
                    font-size: 14px;
                }
            }

        }
        .benefitsLogoSection{
            gap: 20px;
            .logoDiv{
                img{
                    height: 32px;
                    width: 32px;
                }
            }
        }
    }
}

@media screen and (max-width:769px) {
    .pricingSectionContainer {
        .tabbyDetailMain {
            margin-top: 16px;
            margin-bottom: 8px;
        }
    }

}
    
@media (max-width:335px){
    .pricingSectionContainer{
        .pricingConatiner{
            .price{
                display: block;
            }
           } 
    }
       
    }
