

@media (max-width:990px){
    .orderSummary{
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        margin-top: 25px;
        flex-direction: column;
        width: 90%;
        padding-bottom: 100px;
        .headerTxt{
            font-weight: 500;
            font-size: 16px;
        }

        .addressTxt{
            display: none;
        }
        .priceDetails{
            margin-top: 32px;
        }
        
        .priceDetailsContainer{
            // margin-top: 16px;
        }
    }
}

@media (min-width:990px){
    .orderSummary{
        display: flex;
        gap: 30px;
        justify-content: center;
        margin-top: 60px;
        padding-bottom: 100px;
        .headerTxt{
            font-weight: 500;
            font-size: 16px;
        }
        .addressAndProductDetails{
            width: 396px;
        }
    
        .priceDetails{
            width: 346px;
            max-width: 346px;
        }
        .priceDetailsContainer{
            // margin-top: 16px;
        }
    }
}