.carouselContainer {
    // margin: 20px 95px;
   margin-left: 32px;
   margin-right: 32px;
  
  }
  
  .carouselSlide {
    width: 100%;
    cursor: pointer;

  }
  
  .carouselSlide img {
    position: relative;
    
    width: 100%;
    // height: 537px;
    // border-radius: 10px;
    margin-top: -2px;
       
    object-fit: contain;
    border-radius: 16px;
    
  }

  @media (max-width: 768px) {
    .carouselContainer {
      // margin: 10px;
      margin-left: 16px;
      margin-right: 16px;
      
    }
    .Gliderr{
      z-index: 99;
      // z-index: -1;
        // margin-bottom: -5vh;
        .glider-track{
          gap: 30px;
        }
    }
   
  
    .carouselSlide img {
      // height: 30vh;
      height: 100%;
      border-radius: 0px !important;
      margin-top: -2px;
    }
    .dots-slider{
      margin-top: -10px;
    }
    #dots{
      margin-top: -10px;
    }
  }
 
  
  
  #dots{
    margin-top: -10px;
  }