.carouselContainer {
    margin: 20px 95px;
   
  
  }
  
  .carouselSlide {
    width: 100%;
    cursor: pointer;

   
  }
  
  .carouselSlide img {
    position: relative;
    
    width: 100%;
    height: 537px;
    border-radius: 10px;
    
  }

  @media (max-width: 768px) {
    .carouselContainer {
      margin: 10px;
      
      
    }
    .Glider{
        // margin-bottom: -5vh;
    }
   
  
    .carouselSlide img {
      height: 30vh;
    }
  }
 
  
  
  