.cartPage{
    // .headerTxt{
    //     font-weight: 500;
    //     font-size: 16px;
    // }
    .priceDetailsContainer{
        .priceInfo{
            // margin-top: 16px;
        }
    }



}

@media (max-width:990px){
    .cartPage{
        width: 90%;
        margin: 0 auto;
        padding-bottom: 30%;
        .cartHeaderTxt{
            display: none;
        }
        .priceDetailsContainer{
            margin-top: 25px;
        }
    }
}
@media (min-width:990px){
    .cartPage{
        display: flex;
        gap: 30px;
        justify-content: center;;
        margin-top: 30px;
        padding-bottom: 100px;
        .headerTxt{
            font-weight: 500;
            font-size: 16px;
        }
        .leftSection{
            display: flex;
            flex-direction: column;
            .cartItemsContainer{
                // width: 50%;
                width: 396px;
            }
            .freeShippingSection{
                width:396px;
                background-color: #F1FAF8;
                .content{
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
.text{
    color: #07141A;
}
                }
            }
        }
       
        .priceDetailsContainer{
            width: 346px;
            max-width: 346px;
            .priceInfo{
                // margin-top: 16px;
            }
        }
    }
}


