.cartPage{
    // .headerTxt{
    //     font-weight: 500;
    //     font-size: 16px;
    // }
    .priceDetailsContainer{
        .priceInfo{
            // margin-top: 16px;
        }
    }



}

@media (max-width:990px){
    .cartPage{
        width: 90%;
        margin: 0 auto;
        padding-bottom: 30%;
        .cartHeaderTxt{
            display: none;
        }
        .freeShippingSection{
            position: relative;
                z-index: -1;
                top: -10px;
            background-color: #F1FAF8;
            display: flex;
            justify-content: space-between;
            padding-left: 10px;
            padding-right: 20px;
            align-items: center;
            padding-top: 20px;
            border-radius: 0px 0px 16px 16px;
            .content{
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            .progressBar {
                width: 207px;
                border: 2px solid #D0E6E5;
                border-radius: 2px;
                margin-top: 11px;
                margin-bottom: 13px,
              }
                .text{
                    color: #07141A;
                }.feeText{
                    font-weight: 600;
                }
                .shipTxt{
                    color: #247A81;
                    font-weight: 600;
                } 
                .roundDiv{
                    width:17px;
                    height:17px;
                    border-radius: 50px;
                    background-color: #247A81;
                    position: absolute;
                    right:-14px;
                    top:-6px
                }
                .image{
                    position: absolute;
                    right:-14px;
                    top:-6px
                }
                .saveTxt{
                    position: relative;
                    bottom: 12px;
                    text-align: center;
                    color: #07141A;
                    font-size: 8px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }
              

            }
            .btn{
                // width: 67px;
                cursor: pointer;
                padding: 6px 20px;
                border-radius: 8px;
                background-color: #247A81;
                color: #FFF;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
        }
        .priceDetailsContainer{
            margin-top: 25px;
        }
    }
}
@media (min-width:990px){
    .cartPage{
        display: flex;
        gap: 30px;
        justify-content: center;;
        margin-top: 30px;
        padding-bottom: 100px;
        .headerTxt{
            font-weight: 500;
            font-size: 16px;
        }
        .leftSection{
            display: flex;
            flex-direction: column;
            .cartItemsContainer{
                // width: 50%;
                width: 396px;
            }
            .freeShippingSection{
                position: relative;
                z-index: -1;
                top: -10px;
                width:396px;
                background-color: #F1FAF8;
                display: flex;
                justify-content: space-between;
                padding-left: 10px;
                align-items: center;
                padding-top: 20px;
                border-radius: 0px 0px 16px 16px;
                padding-right: 20px;
                .content{
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                .progressBar {
                    width: 207px;
                    border: 2px solid #D0E6E5;
                    border-radius: 2px;
                    margin-top: 11px;
                    margin-bottom: 13px,
                  }
                    .text{
                        color: #07141A;
                    }.feeText{
                        font-weight: 600;
                    }
                    .shipTxt{
                        color: #247A81;
                        font-weight: 600;
                    } 
                    .roundDiv{
                        width:17px;
                        height:17px;
                        border-radius: 50px;
                        background-color: #247A81;
                        position: absolute;
                        right:-14px;
                        top:-6px
                    }
                    .image{
                        position: absolute;
                        right:-14px;
                        top:-6px
                    }
                    .saveTxt{
                        position: relative;
                        bottom: 12px;
                        text-align: center;
                        color: #07141A;
                        font-size: 8px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                    }
                  

                }
                .btn{
                    // width: 67px;
                    cursor: pointer;
                    padding: 6px 20px;
                    border-radius: 8px;
                    background-color: #247A81;
                    color: #FFF;
                    font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
                }
            }
            
        }
       
        .priceDetailsContainer{
            width: 346px;
            max-width: 346px;
            .priceInfo{
                // margin-top: 16px;
            }
        }
    }
}


