.cartPage{
    // .headerTxt{
    //     font-weight: 500;
    //     font-size: 16px;
    // }
    .priceDetailsContainer{
        .priceInfo{
            // margin-top: 16px;
        }
    }



}

@media (max-width:990px){
    .cartPage{
        width: 90%;
        margin: 0 auto;
        padding-bottom: 30%;
        .cartHeaderTxt{
            display: none;
        }
        .priceDetailsContainer{
            margin-top: 25px;
        }
    }
}
@media (min-width:990px){
    .cartPage{
        display: flex;
        gap: 30px;
        justify-content: center;;
        margin-top: 30px;
        padding-bottom: 100px;
        .headerTxt{
            font-weight: 500;
            font-size: 16px;
        }
        .cartItemsContainer{
            // width: 50%;
            width: 396px;
        }
        .priceDetailsContainer{
            width: 346px;
            max-width: 346px;
            .priceInfo{
                // margin-top: 16px;
            }
        }
    }
}


