/* video background */
#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  #mobileScreen{
    display: none;
  }
  #video-banner-wrapper{
    height: 100vh;
    position: relative;
    cursor: pointer;
  }
  
  
  
  @media (max-width: 769px) {

  
    #mobileScreen{
      display: unset !important;
     
    }

    #desktopScreen{
      display: none;
      
    }

    
  }