.pageHeader{
    // background-image: url('https://production-website-builds.s3.ap-south-1.amazonaws.com/kuwa/header_background+(1).png');
    // // height: 70px;
    // background-repeat: no-repeat, repeat;
    // background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: space-between;
   

    .headerInfo{
        display: flex;
        align-items: center;
        .headerTxt{
            margin-left: 8px;
            font-weight: 500;
            font-size: 16px;
        }
    }
    
    
    .backArrow{
        height: 24px;
        width: 24px;
        cursor: pointer;
    }
    .kuwaLogo{
        width: 68px;
        height: 32px;
    }
}

@media(min-width:990px){
    .pageHeader{
        .headerBackgroundImg{
            width: 100%;
        }
        .headerContent{
            position: absolute;
            width: 60%;
            margin: 0 auto;
            justify-content: space-between;
            display: flex;
            left: 0;
            right: 0;
            align-items: center;
            .headerTxt{
                font-weight: 500;
                font-size: 24px;
            }
            .backArrow{
                height: 32px;
                width: 32px;
                cursor: pointer;
            }
            .kuwaLogo{
                width: 98px;
                height: 46px;
            }
        }
    }
}