.productPricingContainer {
    display: flex;
    justify-content: center;
    width: 90%;
    gap: 70px;
    padding-left:16px;
    padding-right:16px;
    // max-width: 980px;
    margin: auto;
}


@media(max-width:960px){
    .productPricingContainer{
        flex-wrap: wrap;
        gap: 10px;
    }
}