.banner-main {
    padding-top: 40px;

    .route-txt {
        padding-left: 219px;
        color: #858585;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
    }

    .heading {
        color: #07141A;
        // font-family: Work Sans;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
       text-align: center;
        margin-top: 24px;
    }
    .img-box{
        text-align: center;
        margin-top: 25px;
    }
}