.headerWrapper{
    background-color: #247A81;
.headerContainer{
    background-image: url('https://production-website-builds.s3.ap-south-1.amazonaws.com/assets/loginHeader.png');
    height: 132px;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 420px;
    margin: 0 auto;

    .backArrow{
        height: 24px;
        width: 24px;
        position: absolute;
        left: 50px;
        top: 50px;
        cursor: pointer;
    }


    .kuwaLogo{
        display: flex;
        flex-direction: column;
        img{
            height: 32px;
            width: 68px;
            margin: 0 auto;
          
        }
        .txt{
            font-weight: 600;
            font-size: 24px;
            color: #FFFFFF;
            text-align: center;
        }
    }

    
}

}
@media (min-width:550px){
    // .headerWrapper{
    //     max-width: 400px;
    //     margin: 0 auto;
    // }
}