
.brandHeader{
    color: #07141A;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 28px;
padding-left: 32px;
padding-bottom: 24px;
// text-align: center;
span{
    font-weight: 500;
}
}

@media(max-width:770px){
    .brandHeader{ 
    font-size: 18px;
    padding-left: 16px;
    margin-top: -16px;
    padding-bottom: 6px;
}
   
}