.submitBtn{
    background: #247A81;
    border-radius: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    color: #FFFF;
    margin-top: 8px;
}
.updateTxt{
    text-align: center;
    margin-bottom: 6px;
    font-size: 10px;
    color: #257a81;
    margin-top: 10px;
}


@media(min-width: 990px){
    .submitBtnWrapper{
        background: #FFFFFF;
        box-shadow: 0px -6px 7px rgba(173, 173, 173, 0.16);
        height: 80px;
        display: flex;
        text-align: center;
        justify-content: center;
        position: fixed;
        width: 100%;
        bottom: 0;
        align-items: center;
        cursor: pointer;
        margin-left: -16px;
        flex-direction: column;
        .submitBtn{
            margin-top: unset !important;
            padding-top: 12px;
            padding-bottom: 12px;
            max-width: 346px;
            max-height: 48px;;
            width: 35%;
        }
    }
    

}