.container{
    padding-left: 16px;
    padding-right: 16px;
 
   
    .sliderContainer{
        margin-top: 24px;
    //     display: flex;
    // flex-direction: row;
    }
}
@media(max-width:990px){
    .container{
        padding-left: 0px;
        padding-right: 0px;
   
    }
}
