.loginCardWrapper{
    padding-right: 16px;
    padding-left: 16px;
    background-color: #FFFFFF;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-top: 32px;
    margin: 0 auto;
    margin-top: -26px;
    .loginTxt{
        font-weight: 500;
        font-size: 16px;
    }
    .descTxt{
        font-weight: 400;
        font-size: 12px;
        color: #A0A0A0;
        margin-top: 2px;
    }

    .loginInputContainer{
        position: relative;
        margin-top: 18px;
        .inputBox{
            background: #FFFFFF;
            border: 1px solid #E6E7E7;
            border-radius: 8px;
            height: 48px;
            width: 100%;
            margin-top: 16px;
            padding-left: 16px;
            font-weight: 500;
            font-size: 14px;
            &.password {
                padding-right: 40px; // Add padding for the eye icon
              }
            }
        
        .eyeIcon {
            position: absolute;
            top: 41%;
            right: 12px;
            width: 24px;
            height: 24px;
            transform: translateY(-42%);
            cursor: pointer;
          }
          .eyeIcon img{
           
          }

        .loginPasswordInput{
            position: relative;
        }
        .loginFailureTxt{
            font-size: 10px;
            color: #e6787a;
            margin-top: 8px;
        }
        .loginBtn{
            background: #247A81;
            border-radius: 24px;
            width: 100%;
            padding-top: 14px;
            padding-bottom: 14px;
            border: 1px solid #247A81;
            color: #FFFFFF;
            font-weight: 500;
            font-size: 14px;
            margin-top: 20px;
            text-align: center;
            cursor: pointer;
        }
        .forgetPassword{
            color: #247A81;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            cursor: pointer;
            text-align: right;
            padding-top: 10px;
        }
       
    }
    .signUpTxt{
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        margin-top: 24px;
    }
    .createAccountTxt{
        font-weight: 600;
        font-size: 14px;
        color: #247A81;
        cursor: pointer;
    }
    .errorMsg{
        font-size: 12px;
        color: red;
        margin-left: 3px;
    }
    
}


@media (min-width:550px){
    .loginCardWrapper{
        max-width: 400px;
        margin-top: unset !important;
        .loginTxt{
            text-align: center;
        }
        .descTxt{
            text-align: center;
            margin-top: 5px;
        }
       
        
    }
}


@media (max-width:990px){
    .loginCardWrapper{
        position: relative;
    }
}


