.dealContainer{
    // background-color: bisque;
    margin: 16px;
    .dealHeader{    
        padding-top: 10px;
        display: flex;
        justify-content: space-between;
     .headingContent{
       display: flex;
        justify-content: center;
        align-items: center;
        gap:32px;
    .heading{
        font-size: 18px;
        font-weight: 500;
        color: #07141A;
       }
        
    .dealHeading{
        color: #07141A;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
    }
    .timeDurationDiv{
        display: flex;
        justify-content: center;
        align-items: center;
        gap:12px;
        .timeTxt{
            color: #07141A; 
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
        }
        .dealTimeDuration{
            display: flex;
            justify-content: center;
            align-items: center;
            gap:8px;
            .timerDiv{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 64px;
                height: 32px;
                border-radius: 4px;
                background: #FFF;
                color: #CE4224;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
            }
        }
    }
}
    .seeAllDiv{
        width: 106px;
        // margin-right: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 4px;
        background: #FFF;
        box-shadow: 0px 4px 4px 0px rgba(46, 124, 246, 0.13);
        .txt{
            color: #2E7CF6;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
        .arrowImg{
           padding-top: 6px;
        }
    }
    }
}

@media(max-width:990px){
    .dealContainer{
       .dealHeader{
        .headingContent{
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: baseline;
            gap:14px;
            .dealHeading{
                
                font-size: 18px;
            }
            .timeDurationDiv{
                .timeTxt{
                    font-size: 12px;
                }
                .dealTimeDuration{
                    .timerDiv{
                        width: 36px;
                        height: 20px;
                        font-size: 14px;
                    }
                }

            }
        }
        .seeAllDiv{
            width: 85px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    background: #FFF;
            .txt{
                font-size: 14px;
                font-weight: 500;
            }
            .arrowImg{
                padding-top: 6px;
                // width: 16px;
                // height: 16px;
            }
        }
       } 
    }
}

@media(max-width:340px){
    .dealContainer{
       .dealHeader{
        gap: 4px;
       } 
    }
}