

.container {
    // background-image: linear-gradient(180deg, #F9E8E4 0%, rgba(249, 232, 228, 0) 100%);
  
    background-color: #F4FCF3;
    padding-top: 10px;
  }

  .sliderContainer{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    padding-left: 16px;

  }

  .headerTxt{
     font-weight: 500;
     font-size: 20px;
  }
.bestSellingProductSlider{
  margin-top: -8px;
  position: relative;
  .sliderTopDecoration{
    position: relative;
    img{
        width: 100%;
        position: absolute;
        top: -68px;
    }
  }
  .sliderTopDecorationMob{
    display: block;
    position: relative;
    bottom: -10px;
    z-index: -1;
    img{
      width: 100%;
      
    }

  }

  .sliderBottomDecorationMob{
    // position: position;
    // bottom: -58px;
    z-index: -1;
    display: block;
    img{
      width: 100%;
    }
  }
  .sliderTopDecorationDesktop{
    display: none;
  }
  .sliderBottomDecorationDesktop{
    display: none;
  }

}
 
//   .sliderDecoration{
//     display: flex;
//     flex-direction: row;
//     gap: 30px;
//   }

//   .sliderLine1{
//     height: 9px;
//     background: #F2E9E7;
//     width: 60%;
//   }

//   .sliderLine2{
//     height: 9px;
//     background:#F2E9E7;
//     width: 80px;
//   }
  

  @media(min-width:990px){
   .container{
     padding-right: 227px;
      padding-left: 227px;
   }
   .headerTxt{
     font-weight: 500;
     font-size: 24px;
  }
  .bestSellingProductSlider{
    position: relative;
    margin-bottom: 100px;
    margin-top: 100px;
    .sliderTopDecorationDesktop{
      display: block;
      position: absolute;
      top: -90px;
      z-index: -1;
      img{
        width: 100%;
        
      }
    }

    .sliderTopDecorationMob{
      display: none;
    }
    .sliderBottomDecorationMob{
      display: none;
    }
    .sliderBottomDecorationDesktop{
      position: absolute;
      bottom: -95px;
      z-index: -1;
      display: block;
      img{
        width: 100%;
      }
    }
  }

  }
  