.productSectionContainer{
    margin-top:20px;
    margin-bottom:50px;
    padding: 10px;

    .allProduct{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        .product{
            margin-top: 60px;
        }
    }
}