.secondaryBannerDesktop{
    display: none;
}

.secondaryBannerMob{
    margin-top: 16px;
    margin-bottom: -17px;
    display: flex;
    margin-left: 16px;
    margin-right: 16px;
}




@media(min-width:990px){
    .secondaryBannerMob{
        display: none;

    }
    .secondaryBannerDesktop{
        display: flex;
        justify-content:center ;
        gap: 14px;
        margin: 0 auto;
        padding-right: 32px;
        padding-left: 32px;
        margin-top: 24px;
        margin-bottom: 24px;
        img{
            
            border-radius: 16px;
            width: 425px;
            height: 212.5px;
        }
    }
    
}

