// .categoryHeader{
//     color: #07141A;
// font-size: 24px;
// font-style: normal;
// font-weight: 500;
// line-height: 28px;
// text-align: center;
// margin-top: 40px;
// span{
//     font-weight: 700;
// }
// }

  
.categoryContainer{
    
    display: flex;
    overflow-x: auto;
    align-items: center;
    gap:44px;
    margin: 24px 32px 10px 32px;
   .category{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:124px;
    cursor: pointer;
  
    // .categoryImg{
    //     img{    
    //     width:92px;
    //     height:92px;
    //     }
    // }
    .categoryName{
        color: #07141A;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 10px;
text-align: center;
    }
   }
}


@media(max-width:770px){
    // .categoryHeader{
    //     font-size: 18px;
    //     margin-top: 32px;
    // }
    // .categoryContent{
.categoryContainer{
        // width: 315px;
    gap:22px;
    margin:17px 16px 17px 16px;
    .category{
        cursor: pointer;
        width: 60px;
        .categoryImg{
            img{    
            width:60px;
            height:60px;
            }
        }
        .categoryName{
         font-size: 12px;
         text-align: center;   
        }
    }
}
    // }
}