.homePageContainer {
  scroll-snap-type:  y mandatory;
  scroll-snap-align: start;
  // flex-basis: 50%;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: auto;
}

.mainContainer{
  scroll-snap-align: start;
  // margin-top: -5px;
  height: 100vh;
  position: relative;
  // overflow-y: scroll;
  margin-top: -1px;

}

.mainBanner{
  scroll-snap-align: start;
  height: 100vh;
  position: relative;


  .swipeImg{
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 80px;
  }
 
 
}


