.homePageContainer {
  scroll-snap-type: y mandatory;
  // flex-basis: 50%;
  height: 100vh;
  scroll-snap-stop: always;
  overflow-y: scroll;
}

.mainContainer{
  scroll-snap-align: start;
  // margin-top: -5px;
}

.mainBanner{
  scroll-snap-align: start;
  height: 100vh;
 
 
}

