.resetPasswordContainer{

    text-align: center;
    background: white;
    padding: 16px;
    padding-top: 32px;
    margin-top: -23px;
    z-index: 99999;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
   
    .txt{
        font-weight: 500;
        font-size: 18px;
    }
    .subTxt{
        font-weight: 400;
        font-size: 12px;
        color: #A0A0A0;
        margin-top: 8px;
    }

    .epasswordInputBoxContainer{
        margin-top: 8px;
    }

    .resetPasswordBtn{
        background: #247A81;
        border-radius: 24px;
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        color: #FFFFFF;
        cursor: pointer;
        margin-top: 16px;
    }
    .successMsg{
        font-weight: 500;
        font-size: 12px;
        color: #247A81;
        width: 80%;
        margin: 0 auto;
        margin-top: 16px;
    }
    .error{
        color:#CE4224;
        font-weight: 500;
        font-size: 12px;
        text-align: left;
        margin-top: 10px;
        &.error-ar{
            text-align: right;
        }
    }
}




@media (min-width:550px){
  
    .resetPasswordContainer{
        max-width: 346px;
        margin: 0 auto;
        margin-top: 34px;
    }
}


