.cartItemCard{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-top: 8px;
    border-radius: 16px;
border: 1px solid #E6E7E7;
padding-top: 14px;
padding-bottom: 12px;
    .cartItemInfo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .index{
            padding-left: 14px;
            padding-right: 8px;
        }
        img{
            width:40px;
            height:40px;
        }
        .item{
            display: flex;
            flex-direction: column;
            margin-left: 8px;
            &.item-ar{
                margin-left: 0px;
                margin-right: 8px;
            }
        .itemName{
           
            width:201px;
            color: #07141A;
            font-size: 12px;
        }
        .quantity{
            // display: block;
            color: #A0A0A0;
            font-size: 10px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }
    }
       .priceContainer{
        padding-right: 16px;
        font-size: 12px;
        &.priceContainer-ar{
            padding-right: 0px;
            padding-left: 16px;
        }
                

                .finalPrice{
                    color: #07141A;
                   
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;

                }
                .retailPrice{
                    color: #A0A0A0;

font-family: Work Sans;

font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: line-through;

                }

            }
        
    
}
@media(min-width:990px){
    
}
@media(max-width:990px){
.cartItemCard{
    .cartItemInfo{
        display: flex;
        // justify-content: space-between;
        align-items: center;
        .index{
            padding-left: 10px;
            padding-right: 5px;
        }
        img{
            width:30px;
            height:30px;
        }
        .item{
        .itemName{
            font-size: 10px;
            width:140px;
        }
    }
    }
        
    

    .priceContainer{
        font-size: 10px;
        padding-right: 10px;

        .finalPrice{
           
        }
        .retailPrice{
          

        }

    }
}
}